@model BayviewHouse.Models.Customer

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register as a user</h2>
@using (Html.BeginForm("Register", "RegisterLogin", FormMethod.Post))
{
    <span style="color:red">
        @Html.ValidationSummary()
    </span>
        <p>
            @Html.LabelFor(m => m.FirstName)<br />
        @Html.TextBoxFor(m => m.FirstName)
    </p>
        <p>
            @Html.LabelFor(m => m.LastName)<br />
        @Html.TextBoxFor(m => m.LastName)
    </p>
        <p>
            @Html.LabelFor(m => m.Email)<br />
            @Html.TextBoxFor(m => m.Email)
        </p>
        <p>
            @Html.LabelFor(m => m.Phone)<br />
            @Html.PasswordFor(m => m.Phone)
        </p>

        <p>
            @*@Html.LabelFor(m => m.Password)<br />
            @Html.PasswordFor(m => m.Password)*@
            @Html.Label("Password")
            @Html.TextBox("txtPassword")
        </p>
        <p>
            @*@Html.LabelFor(m => m.PasswordConfirm)<br />
            @Html.PasswordFor(m => m.PasswordConfirm)*@
            @Html.Label("Match Password")
            @Html.TextBox("txtMatch")
        </p>

        <input id="Submit1" type="submit" value="Register" />

}

