@model BayviewHouse.Models.ContactModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="page_super_top">
    <div id="page_top">
        <a href="#content"><img class="scroll" src="images/scroll.png" alt="scroll"></a>
        <div class="heading_container">
            <h1 id="article_head">Contacts Us</h1>
            <h2 id="article_subhead">Bayview House</h2>
        </div>
        <div id="top_image">
            <img class="imageClass" src="images/bayview.jpg" alt="bayview">
        </div>
    </div>
</div>
<div id="content">
    <div id="contact">
            @using (Html.BeginForm("Contact", "Contact", FormMethod.Post))
            {
                <span style="color:red">
                    @Html.ValidationSummary()
                </span>
                @*<p>
                    @Html.LabelFor(c => c.Topic)<br />
                    @Html.DropDownList(c => c.Topic)
                </p>*@
                <p>
                    @Html.LabelFor(c => c.Name)<br />
                    @Html.TextBoxFor(c => c.Name) <span>(Optional)</span>
                </p>
                <p>
                    @Html.LabelFor(c => c.BookingRef)<br />
                    @Html.TextBoxFor(c => c.BookingRef)<br />
                </p>
                <p>
                    @Html.LabelFor(c => c.Email)<br />
                    @Html.TextBoxFor(c => c.Email)
                </p>
                <p>
                    @Html.LabelFor(c => c.Comments)<br />
                    @Html.TextAreaFor(c => c.Comments, new { @rows = 4, @cols = 50 })
                </p>

            @Html.LabelFor(c => c.Topic)<br />
            @Html.DropDownListFor(c => c.Topic, new SelectList(new[] { "General", "Reseravation", "Tours", "Culinary"}))<br />

            <p>
                <label for="Stay">Would you stay again?</label>
                @Html.RadioButtonFor(c => c.Stay, "Yes") Yes
                @Html.RadioButtonFor(c => c.Stay, "No") No
            </p>
            <p>
                <label for="Stay">Would you Recommend Bayview House  to a freind?</label>
                @Html.RadioButtonFor(c => c.Recommend, "Yes") Yes
                @Html.RadioButtonFor(c => c.Recommend, "No") No
            </p>


            <input id="Submit" type="submit" value="Send" />

            }
  
    </div>
</div>

