<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bayview House</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Styles.css">
    <script src="~/Scripts/JavaScript.js"></script> 
</head>
<body>
    <header>
        <nav>
            <ul class="topnav" id="myTopnav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Offers", "Index", "Offers")</li>
                <li>@Html.ActionLink("Booking", "Index", "Booking")</li>
                <li>@Html.ActionLink("Activities", "Index", "Activities")</li>
                <li>@Html.ActionLink("Location", "Index", "Location")</li>
                <li>@Html.ActionLink("Tours", "Index", "Tours")</li>
                <li>@Html.ActionLink("Contact Us", "Index", "Contact")</li>
                <li>@Html.ActionLink("FAQ", "Index", "Faq")</li>
                <li>@RenderPage("Login.cshtml")</li>
@*MW*@ 
                @*<li>@Html.ActionLink("Login", "Index","Login")</li>
                <li>@Html.ActionLink("Logout","Logout","Login")</li>*@
                </ul>
            </nav>
    </header>
        <main>
            @RenderBody()
            @*<div id="page_super_top">
            <div id="page_top">
                <a href="#content"><img class="scroll" src="images/scroll.png" alt="scroll"></a>
                <div class="heading_container">
                    <h1 id="article_head">Bayview House</h1>
                    <h2 id="article_subhead">Bed and Breakfast</h2>
                </div>
                <div id="top_image">
                    <img class="imageClass" src="images/bay.jpg" alt="bay">
                </div>
            </div>
        </div>
        <div id="content">
            <h1 class="about_top">About Us</h1>
            <hr>
            <p class="about_text">Established in 1996 in Galway City on the west coast of Ireland, Bayview House is undoubtedly one of the most beautiful accomodation locations in Ireland. Run and owned by Gillian Moore, the newly renovated Bayview House offers the most homely and comfortable Irish accomodation experiences with a very reasonable price range with a wide variety of services. Galway City is an attractive location for young and old, offering a wholesome experience of everything Ireland has to offer, from traditional music to cosy lively pubs. Galway City is a busy city with fantastic facilities and venues contrasting one of the most beautiful and scenic surrounding country-sides. </p>
            <img class="about_image" src="images/house.jpg" alt="house" />
            <hr>
            <h1 class="about_top">Testimonials</h1>
            <p class="about_text">"10/10 Absolutely Wonderful,<br>We stayed on the hottest days & nights of the year but our room was very large with many windows allowing for a gentle breeze to cool us down allowing this not to be a problem. Large, comfortable bed and great facilities. There was outdoor seating area which we appreciated and location was great for coast and beaches. I am sure we will return for another stay. Excellent breakfast cooked to order". - Jack</p>
            <p class="about_text">"5 Stars!!<br>Run by the lovely Moore family, This B&B is world class. I've never stayed in a B&B as excellent as this. Our trip to Ireland was perfect because of the places we stayed but this is the most memorable accomodation we booked. We will definitely re-visit Galway again and stay here!". - Rosie</p>
            <hr>
            <h1 class="about_top">Awards</h1>
            <p class="about_text">Bayview House has been awarded a TripAdvisor Certificate of Excellence in 2015 and 2016.</p>
            <div class="awards">
                <img src="images/award1.png" alt="award" />
                <img src="images/award2.jpg" alt="award" />
            </div>
        </div>*@
        <div id="slideshow">
            <div class="gallery_item">
                <span class="gallery_text">@Html.ActionLink("Activities", "Index", "Activities")</span>
                <img class="gallery_img" src="images/city.jpg" alt="city" />
            </div>
            <div class="gallery_item">
                <span class="gallery_text">@Html.ActionLink("Booking", "Index", "Booking")</span>
                <img class="gallery_img" src="images/shower.jpg" alt="shower" />
            </div>
            <div class="gallery_item">
                <span class="gallery_text">@Html.ActionLink("Site Map", "Index", "Sitemap")</span>
                <img class="gallery_img" src="images/bed.jpg" alt="bed" />
            </div>
        </div>
        <footer>
            <p class="copyright">© Moore's Bayview House 2016</p>
        </footer>
    </main>
</body>
</html>