
@model IEnumerable<BayviewHouse.Models.Booking_Model>

@{
    ViewBag.Title = "Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>All Bookings</h2>
<table border="1">
    <tr>
        <th><p>Booking ID</p></th>
        <th><p>Customer Email</p></th>
        <th><p>Room Name</p></th>
        <th><p>Arrival Date </p></th>
        <th><p>Departure Date </p></th>
        <th><p>Card Holder Name</p></th>
        <th><p>Card Type</p></th>
        <th><p>Card Number</p></th>
        <th><p>Expiry Date </p></th>
        <th><p>Security Number </p></th>


    </tr>
    @foreach (var booking in Model)
    {
       
            //<input type="text" name="code" value=@booking.BookingId width="200" hidden />
            <tr>
                <td>@booking.BookingId</td>
                <td>@booking.Email</td>
                <td>@booking.RoomName</td>
                <td>@booking.ArrivalDate</td>
                <td>@booking.DepartureDate</td>
                <td>@booking.CardHolderName</td>
                <td>@booking.CardType</td>
                <td>@booking.CreditCardNumber</td>
                <td>@booking.ExpiryDate</td>
                <td>@booking.SecurityNumber</td>
            </tr>
        
    }
</table>


