@model BayviewHouse.Models.Booking_Model





    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

<script language="javascript">
    function openPopupWindow() {
        window.open('/Booking/SubmitPage/', 'Page', "width=300, height=200");
        return false;
    }
</script>

    <div id="page_super_top">
        <div id="page_top">
            <a href="#content"><img class="scroll" src="images/scroll.png" alt="scroll"></a>
            <div class="heading_container">
                <h1 id="article_head">Book Your Stay</h1>
                <h2 id="article_subhead">Bayview House</h2>
            </div>
            <div id="top_image">
                <img class="imageClass" src="images/book.jpg" alt="book">
            </div>
        </div>
    </div >
<div class="table">
    @ViewData["message"]
    @TempData["Message"]
</div>
    <div id="content">
        <p class="book_top">Reserve your stay</p>
        <hr>
        @using (Html.BeginForm("AddBooking", "Booking", FormMethod.Post))
        {


            <span style="color:red">
                @Html.ValidationSummary()
            </span>
            <fieldset>
                <legend>Reserve a room</legend>
                <div id="datecheck">
                    @Html.LabelFor(m => m.Email)<br />
                    @Html.TextBoxFor(m => m.Email)<br />
                    @Html.LabelFor(m => m.RoomName)<br />
                    @Html.DropDownListFor(m => m.RoomName, new SelectList((List<string>)@ViewData["RoomName"]))<br />
                    @Html.LabelFor(m => m.ArrivalDate)<br />
                    @Html.EditorFor(m => m.ArrivalDate)<br />
                    @Html.LabelFor(m => m.DepartureDate)<br />
                    @Html.EditorFor(m => m.DepartureDate)<br />
                    @Html.LabelFor(m => m.CardHolderName)<br />
                    @Html.TextBoxFor(m => m.CardHolderName)<br />
                    @Html.LabelFor(m => m.CreditCardNumber)<br />
                    @Html.TextBoxFor(m => m.CreditCardNumber)<br />
                    @Html.LabelFor(m => m.SecurityNumber)<br />
                    @Html.TextBoxFor(m => m.SecurityNumber)<br />
                    @Html.LabelFor(m => m.CardType)<br />
                    @Html.DropDownListFor(m => m.CardType, new SelectList(new[] { "Visa", "MasterCard" , "AmericanExpress"}))<br />
                    @Html.LabelFor(m => m.ExpiryDate)<br />
                    @Html.EditorFor(m => m.ExpiryDate)<br />

                <input id="Submit1" type="submit" value="Add" onclick="javascript: return openPopupWindow();" />
            </div>
        </fieldset>
        }     
        
    <p class="about_text">The regular check-in times are daily from 12pm - 6pm. Please make the B&B aware if you plan to arrive outside of these hours to arrange. Breakfast is served from 7.30am weekdays and 7am weekends. Gillian’s B&B has four types of rooms available, view Our Offers page for more information.</p>
    <hr>
</div>

